<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="SteamWebApiClient"
          class="com.ibasco.agql.protocols.valve.steam.webapi.SteamWebApiClient">
    </bean>
    <bean id="SteamStorefront"
          class="com.ibasco.agql.protocols.valve.steam.webapi.interfaces.SteamStorefront">
        <constructor-arg ref="SteamWebApiClient"/>
    </bean>
    <bean id="ObjectMapper"
          class="com.fasterxml.jackson.databind.ObjectMapper">
    </bean>

</beans>
